.link .project-title {
	font-size: 2rem;
}

.gh-card-link {
	text-align: center;
	font-size: 2rem;
	color: black;
}

.gh-card-link span {
	font-family: 'Changa', sans-serif;
	font-size: 1.5rem;
}

.gh-card-link:hover {
	color: gray;
}
