* {
	font-family: 'Changa', sans-serif;
}

body {
	background: url(/images/pencil-bg.jpg) no-repeat center center fixed;
	background-size: 100%;
	background-color: #fafafa;
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.home {
	background-color: black;
}

.link {
	color: #000000;
}

.link:hover {
	color: #c0c0c0;
}
