* {
	font-family: 'Changa', sans-serif;
}

body {
	background: url(/images/pencil-bg.jpg) no-repeat center center fixed;
	background-size: 100%;
	background-color: #fafafa;
	margin: 0;
	color: #000000;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.link {
	color: #000000;
}

.link:hover {
	color: #595959;
	cursor: pointer;
}

h1.headline {
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 8vw;
}

.title {
	color: #595959;
}

/* iPad Pro */
@media (max-width: 1024px) {
	h1.headline {
		font-size: 123px;
	}
}

/* iPad */
@media (max-width: 768px) {
	h1.headline {
		font-size: 91px;
	}
}

/* Responsive */
@media (max-width: 460px) {
	h1.headline {
		font-size: 56px;
	}
}

/* iPhone 6-8 Plus */
@media (max-width: 414px) {
	h1.headline {
		font-size: 50px;
	}
}

/* iPhone 6-X */
@media (max-width: 375px) {
	h1.headline {
		font-size: 45px;
	}
}

/* Galaxy S5 */
@media (max-width: 360px) {
	h1.headline {
		font-size: 43px;
	}
}
