* {
	font-family: 'Changa', sans-serif;
}

body {
	background: url(../images/pencil-bg.jpg) no-repeat center center fixed;
	background-size: 100%;
	background-color: #fafafa;
}

.current-page {
	text-decoration: underline;
}

/* LinkedIn button */
.fa {
	padding: 10px;
	font-size: 15px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}
/* LinkedIn button opacity on hover */
.fa:hover {
	opacity: 0.7;
}
/* LinkedIn button cont */
.fa-linkedin {
	background: #007bb5;
	color: white;
}

.repo-link:hover {
	font-size: 1.15vw;
}

#contact-info h2,
h3 {
	color: black;
}

.contact-link:hover {
	opacity: 0.7;
	text-decoration: none;
}
