* {
	font-family: 'Changa', sans-serif;
}

/* https://www.freepik.com/free-vector/elegant-white-background-with-shiny-lines_4077186.htm#page=1&query=background%20starline&position=5 */
body {
	background-image: url(./images/elegant-background.jpg);
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.light-font {
	color: #fff;
}

.gray-font {
	color: #dbdbdb;
}

/* LinkedIn button */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}
/* LinkedIn button opacity on hover */
.fa:hover {
	opacity: 0.7;
}
/* LinkedIn button cont */
.fa-linkedin {
	background: #007bb5;
	color: white;
}

/* Photo by tbee from Pexels url: https://www.pexels.com/photo/wood-texture-background-pine-82256/ */
.jumbo-1 {
	background-image: url(./images/wood-texture-background.jpg);
	background-position: center;
	background-size: 100% auto;
}

/* Contact form */
#contact-form {
	padding: 50px;
}
