.headshot {
	width: 15vw;
}

.contact-card {
	padding: 2%;
	margin: 2% 20%;
}

/* Smaller Browser view ports */
@media (max-width: 1081px) {
	.contact-card h2 {
		font-size: 30px;
	}
}

/* iPad Pro */
@media (max-width: 1024px) {
	.contact-card {
		margin-top: 10%;
	}

	.contact-card h2 {
		font-size: 30px;
	}
}

/* iPad */
@media (max-width: 768px) {
	.contact-card h2 {
		font-size: 21px;
	}
}

/* Responsive */
@media (max-width: 460px) {
	.contact-card {
		padding: 5px;
	}
	.contact-card h2 {
		font-size: 18px;
	}
	.headshot {
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* iPhone 6-8 Plus */
@media (max-width: 414px) {
	.contact-card h2 {
		font-size: 16.4px;
	}
}

/* iPhone 6-8 & X */
@media (max-width: 375px) {
	.contact-card h2 {
		font-size: 14.3px;
	}
}

/* Galaxy S5 */
@media (max-width: 360px) {
	.contact-card h2 {
		font-size: 13.5px;
	}
}
